<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <!-- <div class="image">
                      <img src="assets/img/user/user-13.jpg" alt="" />
                  </div> -->
                    <div class="info">
                        <!-- <b class="caret pull-right"></b> -->
                        {{name}}
                        <small style="font-size: .7em;">{{email}}</small>
                        <!-- <small>Portal</small> -->
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                    <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                </ul>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="has-sub" *ngIf="isAdmin || isHr" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/modules/dashboard']">
                    <i class="fa fa-th-large"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="has-sub" *ngIf="isAdmin || isHr" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/modules/employee-master-data']">
                    <i class="fa fa-users"></i>
                    <span>Employee Master Data</span>
                </a>
            </li>
            <li id="main-menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a href="javascript:void(0)" *ngIf="isAdmin">
                    <b class="caret"></b>
                    <i class="fa fa-edit"></i>
                    <span>Update Data Tables</span>
                </a>
                <ul class="sub-menu" id="sub-nav">
                    <li><a [routerLink]="['/modules/hr-details']">HR Details</a></li>
                    <li><a [routerLink]="['/modules/pricing-update']">Pricing Update Access</a></li>
                    <li style="display:block"><a>Shared Service Access</a>
                        <ul class="sub-menu" style="display:block">
                            <li><a [routerLink]="['/modules/payment-workflow']">Payment Workflow Init</a></li>
                            <li><a [routerLink]="['/modules/payment-initiation']">Payment Preparation</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub" *ngIf="isAdmin || isHr" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/modules/calender-update']">
                    <i class="fa fa-calendar"></i>
                    <span>Calender Update</span>
                </a>
            </li>

            <li class="has-sub" *ngIf="isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/modules/create-permission']">
                    <i class="fa fa-edit"></i>
                    <span>Create Permission</span>
                </a>
            </li>

            <li class="has-sub" *ngIf="isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/modules/update-leave']">
                    <i class="fa fa-edit"></i>
                    <span>Update RPA-SAP Leave Failures</span>
                </a>
            </li>

        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->