<app-nav></app-nav>
<app-menu></app-menu>
<!-- begin #content -->
<div id="content" class="content">

    <div class="row">
        <div class="col-md-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                <li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/modules/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active">Calender Update</li>
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header">&nbsp;</h1>
            <!-- end page-header -->
        </div>
    </div>


    <!-- begin row -->
    <div class="row">

        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-lg-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                            data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                            data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                            data-click="panel-collapse"><i class="fa fa-minus"></i></a>

                    </div>
                    <h4 class="panel-title">Calender Update</h4>
                </div>
                <div class="panel-body">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Year</label>
                                <select name="selectedYear" id="selectedYear" class="form-control form-control-sm"
                                    [(ngModel)]="selectedYear" #selectYear="ngModel"
                                    (change)='onYearSelected(selectYear.value)'>
                                    <option *ngFor='let option of allYearValue' [value]="option">{{option}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Organisation code</label>
                                <select name="selectedCountry" id="selectedCountry" [(ngModel)]="selectedCountry"
                                    #selectCountry="ngModel" (change)='onCountrySelected(selectCountry.value)'
                                    class="form-control form-control-sm">
                                    <option *ngFor="let code of countrycodeDetails" [value]="code.CompanyCode">{{code.CompanyCode}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-3">
                            <a href="#modal-dialog" data-toggle="modal"
                                class="btn btn-sm bg-blue text-white pull-right export">
                                <i class="fa fa-plus"></i> Add More</a>
                        </div>
                    </div>
                    <div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-start table-flush table-bordered text-left table-sm">
                                <thead class="thead-light font-weight-bold text-uppercase">
                                    <tr>
                                        <th class="text-left" scope="col">Date</th>
                                        <th class="text-left" scope="col"> Day</th>
                                        <th class="text-left" scope="col"> Name</th>
                                        <th class="text-left" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of calenderData">
                                        <td class="text-left">{{data.Date | date}}</td>
                                        <td class="text-left">{{data.Day}}</td>
                                        <td class="text-left">{{data.Holiday}}</td>
                                        <td class="text-left" scope="row"><a href="#modal-dialogedit"
                                                data-toggle="modal"><i class="fa fa-1-5x text-success fa-edit"
                                                    (click)="updateHoliday(data)"></i></a>
                                            &nbsp;
                                            <a href="javascript:void(0)" class=""><i
                                                    class="fa text-danger fa-1-5x fa-trash-alt" data-toggle="modal"
                                                    data-target="#exampleModal"
                                                    (click)="delete(data.Id, data.Holiday)"></i></a>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>


    </div>
    <!-- end row -->
</div>
<!-- end #content -->

<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
        class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->


<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog w-50 mx-auto">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Add Holiday List</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="row mb-2">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Year</label>
                                        <select name="selectedYearAdd" id="selectedYearAdd"
                                            class="form-control form-control-sm" [(ngModel)]="selectedYearAdd"
                                            #selectYearadd="ngModel">
                                            <option *ngFor='let option of allYearValueAdd' [value]="option">{{option}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Organisation code</label>
                                        <select name="selectedCountryAdd" id="selectedCountryAdd"
                                            [(ngModel)]="selectedCountryAdd" #selectCountryAdd="ngModel"
                                            class="form-control form-control-sm">
                                            <option *ngFor="let code of countrycodeDetails" [value]="code.CompanyCode">{{code.CompanyCode}}</option>
                                        </select>
                                        <!-- (change)='onYearSelectedAdd(selectYearadd.value)' 
                                           (change)='onCountrySelectedAdd(selectCountryAdd.value)' -->
                                    </div>
                                </div>

                                <!-- <div class="col-md-3">&nbsp;</div> -->
                                <div class="col-md-3">
                                    <a class="btn btn-sm bg-blue text-white export addDiv"
                                        style="margin-top: 23px !important" (click)="addHolidayForm()">
                                        <i class="fa fa-plus"></i> Add More Holiday</a>
                                </div>
                            </div>
                        </form>

                        <div class="appendDiv">
                            <form name="form" (ngSubmit)="addHoliday()" #addf="ngForm" novalidate>
                                <div class="row" *ngFor="let singleForm of holidayForm; let i= index">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date">Date</label>

                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd"
                                                [minDate]="minDateAdd" [maxDate]="maxDateAdd" id="date{{i}}"
                                                    name="date{{i}}" [(ngModel)]="singleForm.date" ngbDatepicker #d="ngbDatepicker">
                                                    <div class="input-group-addon" (click)="d.toggle()" >
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date">Holiday Name</label>
                                            <input type="text" class="form-control form-control-sm" name="holiday{{i}}"
                                                id="holidayName{{i}}" [(ngModel)]="singleForm.holiday"
                                                placeholder="Enter Holiday Name">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-2 mx-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-dialogedit">
    <div class="modal-dialog w-50 mx-auto">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Add Detail</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="form" (ngSubmit)="upf.form.valid && update()" #upf="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd"
                                        [minDate]="minDateUpdate" [maxDate]="maxDateUpdate"
                                            name="editDate" [(ngModel)]="editDate" ngbDatepicker #d="ngbDatepicker" #holidaydate="ngModel"
                                            [ngClass]="{ 'is-invalid': upf.submitted && holidaydate.invalid }" required>
                                            <div class="input-group-addon" (click)="d.toggle()" >
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div *ngIf="upf.submitted && holidaydate.invalid" class="invalid-feedback">
                                            <div *ngIf="holidaydate.errors.required">Date is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date">Holiday Name</label>
                                        <input type="text" class="form-control form-control-sm" name="holidayName"
                                            [(ngModel)]="holidayName" placeholder="Enter Holiday Name" #holiday="ngModel" 
                                            [ngClass]="{ 'is-invalid': upf.submitted && holiday.invalid }"
                                            required>
                                            <div *ngIf="upf.submitted && holiday.invalid" class="invalid-feedback">
                                                <div *ngIf="holiday.errors.required">Holiday name is required</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-md-2 mx-auto">
                                        <button class="btn btn-info" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- click on delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm w-50 mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p> Are you sure to delete <b>{{holidayName}} </b>? </p>
                <div class="row pull-right">
                    <button type="button" style="margin-right: 13px;" class="btn btn-primary"
                        (click)="confirm()">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)=" decline()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="small" color="#fff" type="ball-spin-clockwise">
</ngx-spinner>