<!-- begin #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <app-nav></app-nav>
    <app-menu></app-menu>
    <!-- begin #content -->
    <div id="content" class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- begin breadcrumb -->
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/modules/dashboard']">Dashboard</a></li>
                    <li class="breadcrumb-item active">Notifications</li>
                </ol>
                <!-- end breadcrumb -->
                <!-- begin page-header -->
                <h1 class="page-header">&nbsp;</h1>
                <!-- end page-header -->


            </div>
        </div>
        <!-- begin row -->
        <div class="row">

            <!-- end col-8 -->
            <!-- begin col-4 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                                data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                                data-click="panel-collapse"><i class="fa fa-minus"></i></a>

                        </div>
                        <h4 class="panel-title">Notifications</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush table-bordered table-sm">
                                    <thead class="thead-light font-weight-bold text-uppercase">
                                        <tr>

                                            <th scope="col">Personnel Number</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">ID NUMBER</th>
                                            <th scope="col">PAYROLL AREA</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Department</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="notificationDetails">
                                        <tr *ngFor="let data of notificationDetails | paginate: {itemsPerPage: pageSize,
                                        currentPage: pageIndex,
                                        totalItems: totalCount }">
                                            <td>{{data.Pers_No}}</td>
                                            <td>{{data.First_Name}}</td>
                                            <td>{{data.Last_Name}}</td>
                                            <td>{{data.IDNumber}}</td>
                                            <td>{{data.PArea}}</td>
                                            <td>{{data.Position}}</td>
                                            <td>{{data.Department}}</td>
                                            <td>{{data.Email}}</td>
                                            <td scope="row">
                                                <a (click)="redirect(data)" class="btn btn-sm btn-info">View More</a>
                                            </td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination pagination-sm m-t-0 m-b-5 pull-right">
                                <!-- <ul > -->
                                <pagination-controls (pageChange)="pageChanged($event)" autoHide="true"
                                    responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
                                <!-- </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->
<!-- 
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="small" color="#fff" type="ball-spin-clockwise">
</ngx-spinner> -->