select.form-control-sm:not([size]):not([multiple]) 
{
height: 23px;
padding: 2px 1px;
line-height: 1.5;
border-radius: 3px;
font-size: 9px;
background: #49b6d6;
border:1px solid #49b6d6;
color:#fff;
}
select{outline:none}