<div id="page-container" class="page-sidebar-fixed page-header-fixed">

    <app-nav></app-nav>
    <app-menu></app-menu>

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
                    <li class="breadcrumb-item active">Update RPA-SAP Leave Failures</li>
                </ol>
                <!-- end breadcrumb -->
                <!-- begin page-header -->
                <h1 class="page-header">&nbsp;</h1>
                <!-- end page-header -->
            </div>
        </div>


        <!-- begin row -->
        <div class="row">

            <!-- end col-8 -->
            <!-- begin col-4 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                                data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                                data-click="panel-collapse"><i class="fa fa-minus"></i></a>

                        </div>
                        <h4 class="panel-title">Update RPA-SAP Leave Failures</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row mb-2">
							<div class="col-md-12">
								<a class="btn btn-sm bg-blue text-white pull-right export" (click)="updateLeave()">Submit</a>
							</div>
						</div>
                        <div>
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-start table-flush table-bordered text-left table-sm">
                                    <thead class="thead-light font-weight-bold text-uppercase">
                                        <tr>
                                            <th class="text-left" scope="col">LeaveType</th>
                                            <th class="text-left" scope="col">Pers No</th>
                                            <th class="text-left" scope="col">Applied On</th>
                                            <th class="text-left" scope="col">Start Date</th>
                                            <th class="text-left" scope="col">End Date</th>
                                            <th class="text-left" scope="col">Total Leaves</th>
                                            <th class="text-left" scope="col">Reason</th>
                                            <th class="text-left" scope="col">Guid</th>
                                            <th class="text-left" scope="col">1st Manager Status</th>
                                            <th class="text-left" scope="col">2nd Manager Status</th>
                                            <th class="text-left" scope="col">Send Excel</th>
                                            <th class="text-left" scope="col">Hr Status</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="leaveApplied">
                                        <tr *ngFor="let data of leaveApplied; let i=index">
                                            <td class="text-left">{{replaceLeaveType(data.LeaveType)}}</td>
                                            <td class="text-left">{{data.Pers_No}}</td>
                                            <td class="text-left">{{data.AppliedOn | date}}</td>
                                            <td class="text-left">{{data.StartDate | date}}</td>
                                            <td class="text-left">{{data.EndDate | date}}</td>
                                            <td class="text-left">{{data.TotalLeaves}}</td>
                                            <td class="text-left">{{data.Reason}}</td>
                                            <td class="text-left">{{data.GUID}}</td>
                                            <td class="text-left">{{data.approvedStatus}}</td>
                                            <td class="text-left">{{data.approvedStatusByHigherManager }}</td>
                                            <td class="text-left">{{data.sendExcelFile}}</td>
                                            <!-- status col -->
                                            <td scope="row">
                                                <select style="width:46px;" name="botStatus{{i}}" id="botStatus{{i}}" class="form-control form-control-sm"
                                                [(ngModel)]="data.botStatus" (change)='onchangeSatus(data.GUID)'>
                                                    <option value="true" >True</option>
                                                    <option value="false" >False</option>
                                                </select></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- <div>
                                                <ul class="pagination pagination-sm m-t-0 m-b-5 pull-right">
                                                    <li class="page-item disabled"><a href="javascript:;" class="page-link">«</a></li>
                                                    <li class="page-item active"><a href="javascript:;" class="page-link">1</a></li>
                                                    <li class="page-item"><a href="javascript:;" class="page-link">2</a></li>
                                                    <li class="page-item"><a href="javascript:;" class="page-link">3</a></li>
                                                    <li class="page-item"><a href="javascript:;" class="page-link">4</a></li>
                                                    <li class="page-item"><a href="javascript:;" class="page-link">5</a></li>
                                                    <li class="page-item"><a href="javascript:;" class="page-link">»</a></li>
                                                </ul>
                                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->



    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="small" color="#fff" type="ball-spin-clockwise">
</ngx-spinner>