<!-- begin #page-loader -->
<!-- <div id="page-loader" class="fade show"><span class="spinner"></span></div> -->
<!-- end #page-loader -->
<div>
    <div class="col-md-9 mx-auto">
        <!-- begin login -->
        <div class="login login-with-news-feed" style="margin-top:3rem">
            <!-- begin news-feed -->
            <div class="row bg-white">
                <div class="col-md-8 leftloginbg">
                    <img src="assets/img/login-bg/login-bg-17.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-4 leftloginbg" style="background:#c8eefb">
                    <div class="w-100 loginbg">
                        <div class="w-75">
                            <img src="assets/img/logo/logo.png" class="log">
                        </div>
                        <h3 class="text-center welcometext mb-4">Welcome</h3>
                        <!-- <h4 class="text-center mt-1"><img src="assets/img/user/outlok.png" alt="" class="w-50"></h4> -->
                        <div class="row" style="display:flex;justify-content: center; align-items: center;">
                                <div class="col-md-8 mt-4" >
                            <form #login="ngForm" name="form" (ngSubmit)="login.form.valid && submitLogin()" novalidate>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" placeholder="Enter Email"
                                    name="email" [(ngModel)]="loginForm.email" [ngClass]="{ 'is-invalid': login.submitted && email.invalid }" required email #email="ngModel">
                                    <div *ngIf="login.submitted && email.invalid" class="invalid-feedback">
										<div *ngIf="email.errors.required">Email is required</div>
										<div *ngIf="email.errors.email">Email must be a valid email address</div>
									</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-sm" placeholder="Password"
                                    name="password" [(ngModel)]="loginForm.password" [ngClass]="{ 'is-invalid': login.submitted && password.invalid }" required #password="ngModel">
                                    <div *ngIf="login.submitted && password.invalid" class="invalid-feedback">
										<div *ngIf="password.errors.required">Password is required</div>
									</div>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <button class="btn bg-blue btn-sm text-white text-uppercase mobmargin" type="submit" style="justify-content: center; align-items: center;">Submit</button>
                                </div>                               
                            </form>
                        </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-md-6 offset-md-5 ">
                                <button id="SignIn" onclick="signIn()" (click)="gologin()" class="btn bg-blue btn-sm w-50 text-white text-uppercase mobmargin">Sign
                                    In</button>
                            </div>
                        </div> -->
                    </div>
                    <!-- end login-content -->
                </div>
            </div>
            <!-- end news-feed -->

        </div>
        <!-- end login -->
    </div>
</div>
<!-- end page container -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="small" color="#fff" type="ball-spin-clockwise">
</ngx-spinner>