<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <app-nav ></app-nav>
    <app-menu ></app-menu>
    <!-- begin #content -->
    <div id="content" class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a  >Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Dashboard</h1>
        <!-- end page-header -->

            </div>
        </div>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="widget widget-stats bg-red relative">
                    <div class="iconabsolu"> <i class="fa fa-chart-line fa-fw"></i></div>
                    <div class="stats-info">
                        <h4>Today</h4>
                        <p *ngIf="botFrequency">{{botFrequency.today_total}}</p>
                    </div>
                    <!-- <div class="stats-link">
                        <a  >View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="widget widget-stats bg-orange relative">
                    <div class="iconabsolu"> <i class="fa fa-chart-bar fa-fw"></i></div>
                    <div class="stats-info">
                        <h4>This Week</h4>
                        <p *ngIf="botFrequency">{{botFrequency.week_total}}</p>
                    </div>
                    <!-- <div class="stats-link">
                        <a  >View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="widget widget-stats bg-grey-darker relative">
                    <div class="iconabsolu"> <i class="fa fa-chart-line fa-fw"></i></div>
                    <div class="stats-info">
                        <h4>This Month</h4>
                        <p *ngIf="botFrequency">{{botFrequency.month_total}}</p>
                    </div>
                    <!-- <div class="stats-link">
                        <a  >View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="widget widget-stats bg-black-lighter relative">
                    <div class="iconabsolu"> <i class="fa fa-chart-area fa-fw"></i></div>
                    <div class="stats-info">
                        <h4>Average</h4>
                        <p *ngIf="botFrequency">{{botFrequency.average.tm}}</p>
                    </div>
                    <!-- <div class="stats-link">
                        <a  >View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-8 -->
            <div class="col-lg-6">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a   class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                                    class="fa fa-expand"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                                    class="fa fa-redo"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                                    class="fa fa-minus"></i></a>

                        </div>
                        <h4 class="panel-title">Date Range</h4>
                    </div>
                    <div class="panel-body ">
                        <!-- <div id="container" style="min-width: 310px; min-height:310px"></div> -->
                        <div>
                            <span class="btn btn-primary btn-sm m-1" (click)="dayWiseChart(7)">7d</span>
                             <span class="btn btn-primary btn-sm m-1" (click)="dayWiseChart(15)">15d</span>
                             <span class="btn btn-primary btn-sm m-1" (click)="dayWiseChart(30)">30d</span>
                        </div>
                        <canvas id="barChartDate"></canvas>
                    </div>
                </div>
                <!-- end panel -->

            </div>
            <!-- end col-8 -->
            <!-- begin col-4 -->
            <div class="col-lg-6">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a   class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                                    class="fa fa-expand"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                                    class="fa fa-redo"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                                    class="fa fa-minus"></i></a>

                        </div>
                        <h4 class="panel-title">Today Data</h4>
                    </div>
                    <div class="panel-body">
                            <!-- <div id="container1" style="min-width: 310px; min-height:310px"></div> -->
                            <div>
                                <span class="btn btn-primary btn-sm m-1">Today</span>
                            </div>
                            <canvas id="barChartToday"></canvas>
                    </div>
                </div>
                <!-- end panel -->
            </div>

            <div class="col-lg-4">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                                    class="fa fa-expand"></i></a>
                            <a class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                                    class="fa fa-redo"></i></a>
                            <a class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                                    class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Type of Leave Applied</h4>
                    </div>
                    <div class="panel-body " href="#modal-dialog" data-toggle="modal" (click)="leaveClick()">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>


                <!-- <div class="chart-container" style="position: relative; height:40vh; width:70vw">    
                    <canvas id="canvas"></canvas>    
                  </div> -->

                <!-- end panel -->
            </div>
            <!-- end col-4 -->

            <div class="col-lg-4">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a   class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                                    class="fa fa-expand"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                                    class="fa fa-redo"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                                    class="fa fa-minus"></i></a>

                        </div>
                        <h4 class="panel-title">Payroll Applied</h4>
                    </div>
                    <div class="panel-body " href="#modal-dialog1" data-toggle="modal" (click)="payrollClick()">
                        <canvas id="pieChartPayroll"></canvas>
                    </div>
                </div>
                <!-- end panel -->
            </div>

            <div class="col-lg-4">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a   class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                                    class="fa fa-expand"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                                    class="fa fa-redo"></i></a>
                            <a   class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                                    class="fa fa-minus"></i></a>

                        </div>
                        <h4 class="panel-title">Attendance</h4>
                    </div>
                    <div class="panel-body " href="#modal-dialog2" data-toggle="modal" (click)="attendanceClick()">
                        <canvas id="pieChartAttendance"></canvas>
                    </div>
                </div>
                <!-- end panel -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- leave applied start -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Leave Applied Data</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <form class="navbar-form nvbarForm">
                            <div class="form-group" style="display:flex">
                                <input type="text" class="form-control rounded frmpadding w-75" name="searchValueLeave"
                                    placeholder="Search by Person Id or Name" [(ngModel)]="searchValueLeave"
                                    #searchLeave="ngModel" style="border-radius: 2px 0px 0px 3px !important;
                                    border-right: none;">
                                <button type="submit" class="btn btn-search btn-primary bg-blue"
                                    (click)="searchInLeave(searchLeave)">Go</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-sm bg-blue text-white pull-right export" (click)="exportToExcelLeave()"> <i
                                class="fa fa-file-export"></i> Export to Excel</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Person ID</th>
                                    <th class="text-nowrap">Name</th>
                                    <th class="text-nowrap">Email</th>
                                    <th class="text-nowrap">Leave Type</th>
                                    <th class="text-nowrap">Start Date</th>
                                    <th class="text-nowrap">End Date</th>
                                    <th class="text-nowarp">Leave Duration</th>
                                    <th class="text-nowrap">Reason</th>
                                    <th class="text-nowrap">Attachment</th>
                                    <th class="text-nowrap">Leave Applied Timestamp</th>
                                    <th class="text-nowrap">First Manager Name</th>
                                    <th class="text-nowrap">First Manager Status</th>
                                    <th class="text-nowrap">Manager response Timestamp</th>
                                    <th class="text-nowrap">Manager Rejection reason</th>
                                    <th class="text-nowrap">Second Manager Name</th>
                                    <th class="text-nowrap">Second Manager Status</th>
                                    <th class="text-nowrap">Second Manager response Timestamp</th>
                                    <th class="text-nowrap">Second Manager Rejection reason</th>
                                    <th class="text-nowrap">Overall Status</th>
                                    <th class="text-nowrap">Bot Approval to SAP time stamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let leave of leaveAppliedData | paginate: {itemsPerPage: pageSizeLeave,
                                    currentPage: pageIndexLeave,
                                    totalItems: totalCountLeave }">
                                    <td>{{leave.Pers_No}}</td>
                                    <td>{{leave.Fullname}}</td>
                                    <td>{{leave.Email}}</td>
                                    <td>{{leave.LeaveType}}</td>
                                    <td>{{leave.StartDate | date}}</td>
                                    <td>{{leave.EndDate | date}}</td>
                                    <td>{{leave.TotalLeaves}}</td>
                                    <td>{{leave.Reason}}</td>
                                    <td> <span *ngIf="leave.attachemantFileName === 'fileName'">NA</span>
                                        <a *ngIf="leave.attachemantFileName !== 'fileName'" href="{{CDNURL + leave.attachemantFileName }}"
                                            target="_blank">
                                            {{leave.attachemantFileName }}</a></td>
                                    <td>{{getDateFormat(leave.AppliedOn)}}</td>
                                    <td>{{leave.FirstManager}}</td>
                                    <td>{{leave.approvedStatus}}</td>
                                    <td>{{getDateFormat(leave.approvedByManagerDate)}}</td>
                                    <td>{{leave.rejectionReasonOfLeaveByManager}}</td>
                                    <td>{{leave.SecondManager}}</td>
                                    <td>{{leave.approvedStatusByHigherManager}}</td>
                                    <td>{{getDateFormat(leave.approvedByManager2Date)}}</td>
                                    <td>{{leave.rejectionReasonOfLeaveByManager}}</td>
                                    <td>{{leave.sendExcelFile === 'True' ? 'Approved' : 'Pending/Rejected' }}</td>
                                    <td>{{getDateFormat(leave.inserteddate)}}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-12">
                        <div style="display:flex; justify-content: flex-end; align-items: flex-end;">
                            <pagination-controls (pageChange)="pageChangedLeave($event)" responsive="true"
                                previousLabel="Previous" nextLabel="Next"></pagination-controls>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a   class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- leave applied end -->
<!-- payroll applied start -->
<div class="modal fade" id="modal-dialog1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Payroll Data</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <form class="navbar-form nvbarForm">
                            <div class="form-group" style="display:flex">
                                <input type="text" class="form-control rounded frmpadding w-75"
                                    name="searchValuePayroll" placeholder="Search by Person Id or Name"
                                    [(ngModel)]="searchValuePayroll" #searchPayroll="ngModel" style="border-radius: 2px 0px 0px 3px !important;
                                    border-right: none;">
                                <button type="submit" class="btn btn-search btn-primary bg-blue"
                                    (click)="searchInPayroll(searchPayroll)">Go</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-sm bg-blue text-white pull-right export" (click)="exportToExcelPayroll()"> <i
                                class="fa fa-file-export"></i> Export to Excel</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 table-responsive">

                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Name</th>
                                    <th class="text-nowrap">Person Id</th>
                                    <th class="text-nowrap">Email</th>
                                    <th class="text-nowrap">Payslip Trigger Date Time</th>
                                    <th class="text-nowrap">Payslip RPA to Bot Trigger time stamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payroll of payrollAppliedData | paginate: {itemsPerPage: pageSizePayroll,
                currentPage: pageIndexPayroll,
                totalItems: totalCountPayroll }">
                                    <td>{{payroll.Fullname}}</td>
                                    <td>{{payroll.Pers_No}}</td>
                                    <td>{{payroll.Email}}</td>
                                    <td>{{payroll.payslipTriggerDate}}</td>
                                    <td>{{getDateFormat(payroll.payslipBotTriggerDateTime) }}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-12">
                        <div style="display:flex; justify-content: flex-end; align-items: flex-end;">
                            <pagination-controls (pageChange)="pageChangedPayroll($event)" responsive="true"
                                previousLabel="Previous" nextLabel="Next"></pagination-controls>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <a   class="btn btn-white" data-dismiss="modal">Close</a>

            </div>
        </div>
    </div>
</div>
<!-- payroll end -->
<!-- attendance start -->
<div class="modal fade" id="modal-dialog2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Attendance Data</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <form class="navbar-form nvbarForm">
                            <div class="form-group" style="display:flex">
                                <input type="text" class="form-control rounded frmpadding w-75"
                                    name="searchValueAttendance" placeholder="Search by Person Id or Name"
                                    [(ngModel)]="searchValueAttendance" #search="ngModel" style="border-radius: 2px 0px 0px 3px !important;
                                    border-right: none;">
                                <button type="submit" class="btn btn-search btn-primary bg-blue"
                                    (click)="searchInAttendance(search)">Go</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-sm bg-blue text-white pull-right export" (click)="exportToExcelAttendance()">
                            <i class="fa fa-file-export"></i> Export to Excel</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <!-- <th class="text-nowrap">ID</th> -->
                                    <th class="text-nowrap">Person Id</th>
                                    <th class="text-nowrap">Name</th>
                                    <th class="text-nowrap">Email</th>
                                    <th class="text-nowrap">Attendance Request Time Stamp</th>
                                    <th class="text-nowrap">Attendance Request Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attendance of attendanceData | paginate: {itemsPerPage: pageSizeAttendance,
                            currentPage: pageIndexAttendance,
                            totalItems: totalCountAttendance }">
                                    <td>{{attendance.Pers_No}}</td>
                                    <td>{{attendance.Fullname}}</td>
                                    <td>{{attendance.Email}}</td>
                                    <td>{{attendance.AttendanceRequestTriggerTime}}</td>
                                    <td>{{attendance.AttendanceRequestType}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12">
                        <div style="display:flex; justify-content: flex-end; align-items: flex-end;">
                            <pagination-controls (pageChange)="pageChangedAttendance($event)" responsive="true"
                                previousLabel="Previous" nextLabel="Next">
                            </pagination-controls>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <a   class="btn btn-white" data-dismiss="modal">Close</a>

            </div>
        </div>
    </div>
</div>


<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="small"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>