<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">

	<app-nav ></app-nav>
    <app-menu ></app-menu>
	<!-- begin #content -->
	<div id="content" class="content">
		<!-- begin breadcrumb -->
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb pull-right">
					<li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/modules/dashboard']">Dashboard</a></li>
					<li class="breadcrumb-item active">Pricing Update Access</li>
				</ol>
				<!-- end breadcrumb -->
				<!-- begin page-header -->
				<h1 class="page-header">&nbsp;</h1>
				<!-- end page-header -->
			</div>
		</div>


		<!-- begin row -->
		<div class="row">

			<!-- end col-8 -->
			<!-- begin col-4 -->
			<div class="col-lg-12">
				<!-- begin panel -->
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<div class="panel-heading-btn">
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
								data-click="panel-expand"><i class="fa fa-expand"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
								data-click="panel-reload"><i class="fa fa-redo"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
								data-click="panel-collapse"><i class="fa fa-minus"></i></a>

						</div>
						<h4 class="panel-title">Pricing Update Access</h4>
					</div>
					<div class="panel-body">
						<div class="row mb-2">
							<div class="col-md-12">
								<a href="#modal-dialog" data-toggle="modal"
									class="btn btn-sm bg-blue text-white pull-right export" (click)="addNewPricing()">
									<i class="fa fa-plus"></i> Add More</a>
							</div>
						</div>
						<div>
							<div class="table-responsive">
								<!-- Projects table -->
								<table class="table align-items-start table-flush table-bordered text-left table-sm">
									<thead class="thead-light font-weight-bold text-uppercase">
										<tr>
											<th class="text-left" scope="col">Email</th>
											<th class="text-left" scope="col"> Status</th>
											<th class="text-left" scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let data of pricingData">
											<td class="text-left">{{data.MailFrom}}</td>
											<td class="text-left">
												{{data.EmailStatus === '0' ? 'Primary' : 'Secondary' }}</td>
											<td class="text-left" scope="row">
												<a href="#modal-dialogedit" data-toggle="modal"><i
														class="fa fa-1-5x text-success fa-edit"
														(click)="updatePricingData(data)"></i></a> &nbsp;
												<a href="javascript:void(0)"><i
														class="fa text-danger fa-1-5x fa-trash-alt" data-toggle="modal"
														data-target="#exampleModal"
														(click)="delete(data.Id, data.MailFrom)"></i></a>
											</td>
										</tr>


									</tbody>
								</table>
							</div>
							<div>

							</div>
						</div>
					</div>
				</div>
				<!-- end panel -->
			</div>


		</div>
		<!-- end row -->
	</div>
	<!-- end #content -->

	<!-- begin scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
			class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
</div>
<!-- end page container -->


<!-- add new pricing row  -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog w-50 mx-auto">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<h4 class="modal-title text-white">Add Detail</h4>
				<button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form name="form" (ngSubmit)="f.form.valid && addPricingData()" #f="ngForm" novalidate>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" class="form-control form-control-sm" name="MailFrom"
											placeholder="Enter email" [(ngModel)]="addPricing.MailFrom" #MailFrom="ngModel"
											[ngClass]="{ 'is-invalid': f.submitted && MailFrom.invalid }" required email>
										<div *ngIf="f.submitted && MailFrom.invalid" class="invalid-feedback">
											<div *ngIf="MailFrom.errors.required">Email is required</div>
											<div *ngIf="MailFrom.errors.email">Email must be a valid email address</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="payroll">Status</label>
										<select class="form-control form-control-sm" name="EmailStatus"
											[(ngModel)]="addPricing.EmailStatus" #EmailStatus="ngModel"
											[ngClass]="{ 'is-invalid': f.submitted && EmailStatus.invalid }" required>
											<option disabled>Select Option</option>
											<option value="0">Primary</option>
											<option value="1">Secondary</option>
										</select>
										<div *ngIf="f.submitted && EmailStatus.invalid" class="invalid-feedback">
											<div *ngIf="EmailStatus.errors.required">Status is required</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 mt-3">
								<div class="row">
									<div class="col-md-2 mx-auto">
										<button class="btn btn-info" type="submit">Submit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- edit form -->
<div class="modal fade" id="modal-dialogedit">
	<div class="modal-dialog  w-50 mx-auto">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<h4 class="modal-title text-white">Add Detail</h4>
				<button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form name="form" (ngSubmit)="fup.form.valid && update()" #fup="ngForm" novalidate>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" class="form-control form-control-sm" name="email"
											placeholder="Enter email" [(ngModel)]="updatePricing.email"
											#email="ngModel">
										<!-- <div *ngIf="fup.submitted && email.invalid" class="invalid-feedback">
													<div *ngIf="email.errors.required">Email is required</div>
													<div *ngIf="email.errors.email">Email must be a valid email address</div>
												</div> 
											[ngClass]="{ 'is-invalid': fup.submitted && email.invalid }" required email -->
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="payroll">Status</label>
										<select class="form-control form-control-sm" name="emailStatus"
											[(ngModel)]="updatePricing.emailStatus" #emailStatus="ngModel">
											<option disabled>Select Option</option>
											<option value="0">Primary</option>
											<option value="1">Secondary</option>
										</select>
										<!-- <div *ngIf="fup.submitted && emailStatus.invalid" class="invalid-feedback">
													<div *ngIf="emailStatus.errors.required">Status is required</div>
												</div> 
											[ngClass]="{ 'is-invalid': fup.submitted && emailStatus.invalid }" required -->
									</div>
								</div>
							</div>
							<div class="col-md-12 mt-3">
								<div class="row">
									<div class="col-md-2 mx-auto">
										<button class="btn btn-info" type="submit">Save</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- click on delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
					<p> Are you sure to delete <b>{{deleteEmail}} </b>? </p>
					<div class="row pull-right">
						<button type="button" style="margin-right: 13px;" class="btn btn-primary" (click)="confirm()">Confirm</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal"
							(click)=" decline()">Close</button>
					</div>
			</div>
		</div>
	</div>
</div>

