<!-- begin #page-loader -->
<!-- <div id="page-loader" class="fade show"><span class="spinner"></span></div> -->
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
	<app-nav ></app-nav>
    <app-menu ></app-menu>

	<!-- begin #content -->
	<div id="content" class="content">
		<!-- begin breadcrumb -->
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb pull-right">
					<li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/modules/dashboard']">Dashboard</a></li>
					<li class="breadcrumb-item active">Hr Detail</li>
				</ol>
				<!-- end breadcrumb -->
				<!-- begin page-header -->
				<h1 class="page-header">&nbsp;</h1>
				<!-- end page-header -->
		
			</div>
		</div>

		<!-- begin row -->
		<div class="row">

			<!-- end col-8 -->
			<!-- begin col-4 -->
			<div class="col-lg-12">
				<!-- begin panel -->
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<div class="panel-heading-btn">
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
								data-click="panel-expand"><i class="fa fa-expand"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
								data-click="panel-reload"><i class="fa fa-redo"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
								data-click="panel-collapse"><i class="fa fa-minus"></i></a>

						</div>
						<h4 class="panel-title">HR Details</h4>
					</div>
					<div class="panel-body">
						<div class="row mb-2">
							<div class="col-md-12">
								<a href="#modal-dialog" data-toggle="modal"
									class="btn btn-sm bg-blue text-white pull-right export" (click)="addNewHrDetails()">
									<i class="fa fa-plus"></i> Add More</a>
							</div>
						</div>
						<div>
							<div class="table-responsive">
								<!-- Projects table -->
								<table class="table align-items-center table-flush table-bordered table-sm">
									<thead class="thead-light font-weight-bold text-uppercase">
										<tr>
											<th scope="col">Person Id</th>
											<th scope="col">Email</th>
											<th scope="col"> Name</th>
											<th scope="col">Payroll Type</th>
											<th scope="col">Email CC Person Id</th>
											<th scope="col">Email CC Person Name</th>
											<th scope="col">Email CC Person Email</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let data of hrDetailsData">
											<td>{{data.Pers_No}}</td>
											<td>{{data.Email}}</td>
											<td>{{data.First_Name + ' ' + data.Last_Name}}</td>
											<td>{{data.PArea}}</td>
											<td>{{data.Pers_No_Second}} </td>
											<td>{{data.cc_first_name + ' '+ data.cc_last_name}} </td>
											<td>{{data.cc_email}} </td>
											<td scope="row">
												<a href="#modal-dialogedit" data-toggle="modal"><i
														class="fa fa-1-5x text-success fa-edit" (click)="updateHrDetailsData(data)"></i>
													</a> &nbsp;
												<a href="javascript:void(0)" class=""><i
														class="fa text-danger fa-1-5x fa-trash-alt" data-toggle="modal"
                                                        data-target="#exampleModal" (click)="delete(data.hr_id, data.Email)"></i></a>
											</td>
										</tr>


									</tbody>
								</table>
							</div>
							<div>

							</div>
						</div>
					</div>
				</div>
				<!-- end panel -->
			</div>


		</div>
		<!-- end row -->
	</div>
	<!-- end #content -->



	<!-- begin scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
			class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- add new row from -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog w-50 mx-auto">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<h4 class="modal-title text-white">Add Detail</h4>
				<button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form name="form" (ngSubmit)="f.form.valid && addHrDetailsData()" #f="ngForm" novalidate>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="personid">Person Id</label>
										<input type="text" class="form-control form-control-sm" name="personNo"
											placeholder="Person Id" [(ngModel)]="addHrDetails.personNo" #personNo="ngModel" (blur)="getEmployee(personNo, 'personNo')">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">Enter Email</label>
										<input type="email" class="form-control form-control-sm" name="email"
										placeholder="Enter email" [(ngModel)]="email" disabled>
									<!-- <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
										<div *ngIf="email.errors.required">Email is required</div>
										<div *ngIf="email.errors.email">Email must be a valid email address</div>
									</div> -->
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="name">Name</label>
										<input type="text" class="form-control form-control-sm" name="name"
											placeholder="Enter Name" [(ngModel)]="name" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="payroll">Payroll Type</label>
										<select class="form-control form-control-sm" name="pArea" [(ngModel)]="addHrDetails.pArea" #pArea="ngModel">
											<option disabled >Select Option</option>
											<option value="1B">1B</option>
											<option value="2B">2B</option>
											<option value="BC">BC</option>
											<option value="BL">BL</option>
											<option value="BD">BD</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email-cc">Email cc person id</label>
										<input type="text" class="form-control form-control-sm" name="personNoSecond"
											placeholder="Enter Email cc person id" [(ngModel)]="addHrDetails.personNoSecond" #personNoSecond="ngModel" (blur)="getEmployee_cc(personNoSecond, 'personNoSecond')">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email-cc">Email cc person Email</label>
										<input type="text" class="form-control form-control-sm" name="cc_email"
											placeholder="Enter Email cc person email" [(ngModel)]="cc_email" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email-cc">Email cc person Name</label>
										<input type="text" class="form-control form-control-sm" name="cc_first_name"
											placeholder="Enter Email cc person name" [(ngModel)]="cc_name" disabled>
									</div>
								</div>

							</div>
							<div class="col-md-12 mt-3">
								<div class="row">
									<div class="col-md-2 mx-auto">
										<button class="btn btn-info" type="submit">Submit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- edit form -->
<div class="modal fade" id="modal-dialogedit">
	<div class="modal-dialog  w-50 mx-auto">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<h4 class="modal-title text-white">Add Detail</h4>
				<button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form name="form" (ngSubmit)="upf.form.valid && update()" #upf="ngForm" novalidate>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="personid">Person Id</label>
										<input type="text" class="form-control form-control-sm" name="Pers_No"
											placeholder="Person Id" [(ngModel)]="updateDetails_hr.personNo" #Pers_No="ngModel" (blur)="getEmployee(Pers_No, 'personNoEdit')">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">Enter Email</label>
										<input type="email" class="form-control form-control-sm" name="email"
										placeholder="Enter email" [(ngModel)]="updateDetails_hr.Email" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="name">Name</label>
										<input type="text" class="form-control form-control-sm" name="name"
											placeholder="Enter Name" [(ngModel)]="updateDetails_hr.First_Name+' '+updateDetails_hr.Last_Name" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="payroll">Payroll Type</label>
										<select class="form-control form-control-sm" name="pArea" [(ngModel)]="updateDetails_hr.pArea" #pArea="ngModel">
											<option disabled>Select Option</option>
											<option value="1B">1B</option>
											<option value="2B">2B</option>
											<option value="BC">BC</option>
											<option value="BL">BL</option>
											<option value="BD">BD</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email-cc">Email cc person id</label>
										<input type="text" class="form-control form-control-sm" name="Pers_No_Second"
											placeholder="Enter Email cc person id" [(ngModel)]="updateDetails_hr.personNoSecond" #Pers_No_Second="ngModel" (blur)="getEmployee_cc(Pers_No_Second, 'personNoSecondEdit')">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email-cc">Email cc person Email</label>
										<input type="text" class="form-control form-control-sm" name="cc_email"
											placeholder="Enter Email cc person email" [(ngModel)]="updateDetails_hr.cc_email" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email-cc">Email cc person Name</label>
										<input type="text" class="form-control form-control-sm" name="cc_first_name"
											placeholder="Enter Email cc person name" [(ngModel)]="updateDetails_hr.cc_first_name + ' '+updateDetails_hr.cc_last_name" disabled>
									</div>
								</div>

							</div>
							<div class="col-md-12 mt-3">
								<div class="row">
									<div class="col-md-2 mx-auto">
										<button class="btn btn-info" type="submit">Submit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- click on delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm w-50 mx-auto"  role="document">
		<div class="modal-content">
			<div class="modal-body">
					<p> Are you sure to delete <b>{{deleteEmail}} </b>? </p>
					<div class="row pull-right">
						<button type="button" style="margin-right: 13px;" class="btn btn-primary" (click)="confirm()">Confirm</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal"
							(click)=" decline()">Close</button>
					</div>
			</div>
		</div>
	</div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="small"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>