<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <app-nav></app-nav>
    <app-menu></app-menu>

    <!-- begin #content -->
    <div id="content" class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- begin breadcrumb -->
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="javascript:;"
                            [routerLink]="['/modules/dashboard']">Dashboard</a></li>
                    <li class="breadcrumb-item active">View Employee Master Data</li>
                </ol>
                <!-- end breadcrumb -->
                <!-- begin page-header -->
                <h1 class="page-header">&nbsp;</h1>
                <!-- end page-header -->
            </div>
        </div>
        <!-- begin row -->
        <div class="row">
            <!-- end col-8 -->
            <!-- begin col-4 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                                data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                                data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">View Employee Master Data</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 martop17">
                                <a href="#modal-dialog" data-toggle="modal"
                                    class="btn btn-sm bg-blue text-white pull-right export mb-2" (click)="editForm()">
                                    <i class="fa fa-edit"></i> Edit</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!--basic Information-->
                                <div class="panel panel-inverse" *ngIf="masterData">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title linehght smallfont">Basic Information</h4>
                                    </div>
                                    <div class="panel-body panel-shdow">
                                        <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle ">Personnel
                                                    Number</h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Pers_No}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">First Name
                                                </h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.First_Name}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">Last Name
                                                </h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Last_Name}}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">Gender</h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Gender}}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">position
                                                </h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Position}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">department
                                                </h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Department}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">Birth Date
                                                </h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.Birth_Date}}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">NATIONALITY
                                                </h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Nationality}}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">Substitute Pers No
                                                </h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.substitutePersNo}}</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!--basic end-->

                                <!--Contact Information-->
                                <div class="panel panel-inverse">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title linehght smallfont">Contact Information</h4>
                                    </div>
                                    <div class="panel-body panel-shdow">
                                        <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">Mobile</h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.Mobile}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">Email</h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.Email}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--contact end-->

                                <!--Payroll Information-->
                                <div class="panel panel-inverse">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title linehght smallfont">Payroll Information</h4>
                                    </div>
                                    <div class="panel-body panel-shdow">
                                        <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">ID NUMBER
                                                </h6>
                                                <p class="para text-black  text-lowercase smallfont">
                                                    {{masterData.IDNumber}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">D.O.J</h6>
                                                <p class="para text-black text-lowercase smallfont">{{masterData.DOJ}}
                                                </p>
                                            </div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">D.O.L</h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.Leaving}}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">PAYROLL
                                                    AREA</h6>
                                                <p class="para text-black text-lowercase smallfont">{{masterData.PArea}}
                                                </p>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <!--payroll end-->

                                <!--Manager Information-->
                                <div class="panel panel-inverse">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title linehght smallfont">Manager Information</h4>
                                    </div>
                                    <div class="panel-body panel-shdow">
                                        <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">1st Manager
                                                    Name</h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.manager}}</p>
                                            </div>

                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">1st Manager
                                                    No.</h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.manager_no}}</p>
                                            </div>

                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">2nd Manager
                                                    Name</h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Second_Manager}}</p>
                                            </div>

                                            <div class="col-md-2">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">2nd Manager
                                                    No.</h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.second_manager_no}}</p>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">HOD_Pers_No
                                                </h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.HOD_Pers_No}}</p>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>
                                <!--Manager end-->

                                <!--Flex Information-->
                                <div class="panel panel-inverse">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title linehght smallfont">Flex Information</h4>
                                    </div>
                                    <div class="panel-body panel-shdow">
                                        <div class="row">
                                            <div class="col-md-1 newwid"></div>
                                            <!-- <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">Approval
                                                    Level</h6>
                                                <p class="para text-black text-lowercase smallfont">
                                                    {{masterData.Approval_Level}}</p>
                                            </div> -->

                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">HOD
                                                    approval for TnA
                                                </h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.second_Status === 'False' ? 'No' : 'Yes' }}</p>
                                            </div>

                                            <div class="col-md-3">
                                                <h6 class="heading-small text-black text-uppercase hedstyle">
                                                    2nd Approver for Leave</h6>
                                                <p class="para text-black text-capitalize smallfont">
                                                    {{masterData.Higher_Manager_Status === 'False' ? 'No' : 'Yes' }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--felx end-->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->



    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->


<script>
    $(document).ready(function () {
        App.init();
        ChartJs.init();
    });
</script>




<div class="modal fade " id="modal-dialog">
    <div class="modal-dialog w-50 mx-auto">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">{{update_form.First_Name}} {{update_form.Last_Name}} / EDIT</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Mobile</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group para font-weight-bold text-uppercase">
                                                <div class="input-g
                                                roup w-75">
                                                    <input class="form-control form-control-sm" placeholder="Mobile no."
                                                        type="text" name="Mobile" [(ngModel)]="update_form.Mobile"
                                                        #Mobile="ngModel">
                                                    <!--  [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required
                                                               <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                                            <div *ngIf="email.errors.required">Email is required</div>
                                                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                                        </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>1st Manager Personnel Id</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group para font-weight-bold text-uppercase">
                                                <div class="input-group w-75">
                                                    <input class="form-control form-control-sm"
                                                        placeholder="1st Manager Personnel Id" type="text" id="Pers_No"
                                                        name="first_Manager_Pers_No"
                                                        [(ngModel)]="update_form.first_Manager_Pers_No"
                                                        #first_Manager_Pers_No="ngModel"
                                                        (blur)="getfirstManagerName(first_Manager_Pers_No)">

                                                    <!--  [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required
                                                               <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                                            <div *ngIf="email.errors.required">Email is required</div>
                                                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                                        </div> -->
                                                </div>
                                                <p style="font-size:12px">{{firstMangerName}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>2nd Manager Personnel Id</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group para font-weight-bold text-uppercase">
                                                <div class="input-group w-75">
                                                    <input class="form-control form-control-sm"
                                                        placeholder="2nd Manager Personnel Id" type="text"
                                                        name="second_manager_no"
                                                        [(ngModel)]="update_form.second_manager_no"
                                                        #second_manager_no="ngModel"
                                                        (blur)="getSecondManagerName(second_manager_no)">

                                                    <!--  [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required
                                                               <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                                            <div *ngIf="email.errors.required">Email is required</div>
                                                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                                        </div> -->
                                                </div>
                                                <p style="font-size:12px">{{secondManagerName}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Substitute Pers No</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group para font-weight-bold text-uppercase">
                                                <div class="input-group w-75">
                                                    <input class="form-control form-control-sm"
                                                        placeholder="Substitute Pers No" type="text"
                                                        name="substitutePersNo"
                                                        [(ngModel)]="update_form.substitutePersNo"
                                                        #substitutePersNo="ngModel"
                                                        (blur)="getsubstitutePersNoName(substitutePersNo)">

                                                    <!--  [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required
                                                               <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                                            <div *ngIf="email.errors.required">Email is required</div>
                                                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                                        </div> -->
                                                </div>
                                                <p style="font-size:12px">{{substitutePersNoName}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h6 class="heading-small text-black">HOD approval for TnA</h6>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="radio radio-css radio-inline">
                                                <input type="radio" name="second_Status" id="second_Status1"
                                                    [(ngModel)]="update_form.second_Status" #second_Status="ngModel"
                                                    value="True">
                                                <label for="second_Status1">Yes</label>
                                            </div>
                                            <div class="radio radio-css radio-inline">
                                                <input type="radio" name="second_Status" id="second_Status2"
                                                    [(ngModel)]="update_form.second_Status" #second_Status="ngModel"
                                                    value="False">
                                                <label for="second_Status2">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h6 class="heading-small text-black">2nd Approver for Leave</h6>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="radio radio-css radio-inline">
                                                <input type="radio" name="Higher_Manager_Status"
                                                    id="Higher_Manager_Status1"
                                                    [(ngModel)]="update_form.Higher_Manager_Status"
                                                    #Higher_Manager_Status="ngModel" value="True">
                                                <label for="Higher_Manager_Status1">Yes</label>
                                            </div>
                                            <div class="radio radio-css radio-inline">
                                                <input type="radio" name="Higher_Manager_Status"
                                                    id="Higher_Manager_Status2"
                                                    [(ngModel)]="update_form.Higher_Manager_Status"
                                                    #Higher_Manager_Status="ngModel" value="False">
                                                <label for="Higher_Manager_Status2">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-md-2 mx-auto">
                                        <button class="btn btn-sm btn-info" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h6 class="heading-small text-black text-uppercase smallfont">Approval Level
                                            </h6>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="radio radio-css radio-inline">
                                                <input type="radio" name="radio_css_inline" id="inlineCssRadio1"
                                                    value="option1" checked="">
                                                <label for="inlineCssRadio1">Yes</label>
                                            </div>
                                            <div class="radio radio-css radio-inline">
                                                <input type="radio" name="radio_css_inline" id="inlineCssRadio2"
                                                    value="option2">
                                                <label for="inlineCssRadio2">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->