<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">

    <app-nav></app-nav>
    <app-menu></app-menu>
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/modules/dashboard']">Dashboard</a></li>
                    <li class="breadcrumb-item active">Create Permission</li>
                </ol>
                <!-- end breadcrumb -->
                <!-- begin page-header -->
                <h1 class="page-header">&nbsp;</h1>
                <!-- end page-header -->
            </div>
        </div>


        <!-- begin row -->
        <div class="row">

            <!-- end col-8 -->
            <!-- begin col-4 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                                data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                                data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Create Permission</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <a href="#modal-dialog" data-toggle="modal"
                                    class="btn btn-sm bg-blue text-white pull-right export"
                                    (click)="addNewPermission()">
                                    <i class="fa fa-plus"></i> Add More</a>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-start table-flush table-bordered text-left table-sm">
                                    <thead class="thead-light font-weight-bold text-uppercase">
                                        <tr>
                                            <th class="text-left" scope="col">Emp ID</th>
                                            <th class="text-left" scope="col"> Email ID</th>
                                            <th class="text-left" scope="col"> Permission </th>
                                            <th class="text-left" scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of permissionList">
                                            <td class="text-left">{{data.Pers_No}}</td>
                                            <td class="text-left">{{data.Email}} </td>
                                            <td class="text-left">{{data.Role}} </td>
                                            <td class="text-left" scope="row">
                                                <!-- <a href="#modal-dialogedit" data-toggle="modal"
                                                    (click)="updatePermission()" data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                        class="fa fa-1-5x text-success fa-edit"></i></a> &nbsp; -->
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                    class="fa text-danger fa-1-5x fa-trash-alt" data-toggle="modal"
                                                        data-target="#exampleModal" (click)="delete(data.Id, data.Email)"></i></a>&nbsp;
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Reset"><i
                                                        class="fa text-danger fa-1-5x fa-sync-alt" data-toggle="modal" (click)="reset(data.Pers_No)"
                                                        data-target="xampleModal"></i></a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>


        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->


<!-- add new pricing row  -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog w-50 mx-auto">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Add Detail</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="form" (ngSubmit)="updateForm.form.valid && addPermissionData()" #updateForm="ngForm"
                            novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Enter Employee Id</label>
                                        <input type="text" class="form-control form-control-sm" name="persNo"
                                            placeholder="Enter emp id" [(ngModel)]="addPermission.persNo"
                                            #persNo="ngModel" (blur)="getEmployeeDetailsData(persNo)"
                                            [ngClass]="{ 'is-invalid': updateForm.submitted && persNo.invalid }"
                                            required>
                                        <div *ngIf="updateForm.submitted && persNo.invalid" class="invalid-feedback">
                                            <div *ngIf="persNo.errors.required">Employee Id is required</div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Permission</label>
                                        <select class="form-control form-control-sm" name="role"
                                            [(ngModel)]="addPermission.role" #role="ngModel"
                                            [ngClass]="{ 'is-invalid': updateForm.submitted && role.invalid }" required>
                                            <option disabled>Select Option</option>
                                            <option value="super_admin">Super Admin</option>
                                            <option value="hr_user">Hr User</option>
                                            <option value="user">User</option>
                                        </select>
                                        <div *ngIf="updateForm.submitted && role.invalid" class="invalid-feedback">
                                            <div *ngIf="role.errors.required">Role is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control form-control-sm" name="email"
                                            placeholder="Enter email" [(ngModel)]="persEmail" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control form-control-sm" name="name"
                                            placeholder="Enter Name" [(ngModel)]="fullName" disabled>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-md-2 mx-auto">
                                        <button class="btn btn-info" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- edit form -->
<div class="modal fade" id="modal-dialogedit">
    <div class="modal-dialog w-50 mx-auto">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Update Detail</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="form" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Enter Employee Id</label>
                                        <input type="text" class="form-control form-control-sm" name="MailFrom"
                                            placeholder="Enter emp id" required vaule="employee">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Permission</label>
                                        <input type="text" class="form-control form-control-sm" name="MailFrom"
                                            placeholder="Enter Permission" required value="Admin">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-md-2 mx-auto">
                                        <button class="btn btn-info" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- click on delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog w-50 mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p> Are you sure to delete <b>{{permissionIdOnModal}} </b>? </p>
                <div class="row pull-right">
                    <button type="button" style="margin-right: 13px;" class="btn btn-primary"
                        (click)="confirm()">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)=" decline()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>