.header .navbar-nav>li .dropdown-toggle .label, .header .navbar-nav>li>a .label{
    top: 14px !important;
    right: 14px !important;
    width: 8px !important;
    height: 8px !important;
    padding: 2px 1px !important;
}

.dropdown-menu1{
    position: absolute;
    top: 100%;
    left: -45%;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
