<!-- begin #header -->
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="#" class="navbar-brand"><img src="assets/img/logo/logo.png" class="img-fluid"></a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end navbar-header -->

    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">

        <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle f-s-14"  (click)="toggleNotification()">
                <i class="fa fa-bell"></i>
                <div class="label" *ngIf="noOfNotification > 0"></div>
            </a>
            <ul  class="dropdown-menu1 dropdown-menu-right" *ngIf="showN">
                <li class="dropdown-header">NOTIFICATIONS</li>
                <div class="dropdown-divider"></div>
                <li class="media">
                    <a style="padding-left: 21px;">
                        <div class="media-body" [routerLink]="['/modules/notification-details']">
                            <h6 class="media-heading">Total new join ({{noOfNotification}})</h6>
                            <div class="text-muted f-s-11">just now</div>
                            <!-- <div class="text-muted f-s-11">3 minutes ago</div> -->
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" (click)="toggle()">
                <img src="assets/img/user/user_img.jpg" alt="" />
                <span class="d-none d-md-inline">{{name}}</span> <b class="caret"></b>
            </a>
<div class="dropdown-menu1 dropdown-menu-right" *ngIf="show">
    <!-- <a href="javascript:;" class="dropdown-item">Edit Profile</a>
                                <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
                                <a href="javascript:;" class="dropdown-item">Calendar</a>
                                <a href="javascript:;" class="dropdown-item">Setting</a> 
                                <div class="dropdown-divider"></div>-->
    <a href="#modal-changePass" data-toggle="modal" class="dropdown-item" (click)="closeToggle()">Change password</a>
    <div class="dropdown-divider"></div>
    <a href="javascript:;" class="dropdown-item" (click)="logout()">Log Out</a>
</div>
        </li>
    </ul>
    <!-- end header navigation right -->
</div>
<!-- end #header -->


<div class="modal fade" id="modal-changePass">
    <div class="modal-dialog w-50 mx-auto">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-white">Change Password</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="form" (ngSubmit)="upf.form.valid && changePassword()" #upf="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date">Current Password</label>
                                        <input type="password" class="form-control form-control-sm" name="currPass"
                                            [(ngModel)]="passwordForm.currPass" placeholder="Current Password" #currPass="ngModel"
                                            [ngClass]="{ 'is-invalid': upf.submitted && currPass.invalid }" required>
                                            <div *ngIf="upf.submitted && currPass.invalid" class="invalid-feedback">
                                                <div *ngIf="currPass.errors.required">Current Password is required</div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date">New Password</label>
                                        <input type="password" class="form-control form-control-sm" name="newPass"
                                        [(ngModel)]="passwordForm.newPass" placeholder="New Password" #newPass="ngModel"
                                         [ngClass]="{ 'is-invalid': upf.submitted && newPass.invalid }" required>
                                        <div *ngIf="upf.submitted && newPass.invalid" class="invalid-feedback">
											<div *ngIf="newPass.errors.required">New Password is required</div>
										</div>
                                    </div>
                                </div>
                            </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date">Confirm Password</label>
                                            <input type="password" class="form-control form-control-sm" name="reNewPass"
                                            [(ngModel)]="passwordForm.reNewPass" placeholder="Confirm Password" #reNewPass="ngModel"
                                            [ngClass]="{ 'is-invalid': upf.submitted && reNewPass.invalid }" required>
                                            <div *ngIf="upf.submitted && reNewPass.invalid" class="invalid-feedback">
                                                <div *ngIf="reNewPass.errors.required">Confirm Password is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-md-2 mx-auto">
                                        <button class="btn btn-info" type="submit">Change</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>